- if @project.errors.any?
  - @project.errors.messages.each do |message|
    .message= message.last.last.html_safe


=form_for @project do |f|
  .form-group
    = f.text_field(:title, class: 'form-control', autofocus: true, placeholder: 'Titre')
  .form-group
    = f.text_field(:resume, class: 'form-control', placeholder: 'Resume')
  .form-group
    = f.text_area(:description, class: 'form-control', placeholder: 'Description')
  .form-group
    = f.text_field(:link, class: 'form-control', placeholder: 'Lien')
  = f.submit(class: 'btn btn-success center-block')
