- if @post.errors.any?
  - @post.errors.messages.each do |message|
    .message= message.last.last.html_safe

= form_for @post do |f|
  .form-group
    = f.text_field(:title, class: 'form-control', autofocus: true, placeholder: 'Titre')
  .form-group
    = f.text_field(:resume, class: 'form-control', placeholder: 'Résume')
  .form-group
    = f.text_area(:content, class: 'form-control', placeholder: 'Contenue')

  = f.submit(class: 'btn btn-success center-block')