= form_for @post do |f|
  - if @post.errors.any?
    %h2
      = pluralize(@post.errors.count, "error")
      prevented this post from saving:
    %ul
      - @posts.errors.full_messages.each do |msg|
        %li= msg

  .form-group
    = f.label :title
    = f.text_field(:title, class: 'form-control')
  .form-group
    = f.label :content
    = f.text_area(:content, class: 'form-control')

  = f.submit(class: 'btn btn-success center-block')